.about {
  margin-top: 152px;
  height: 552px;
}

  .about__container {
    position: relative;
  }

  .about__img { 
    float: left;
    width: 490px;
    border-radius: 5px;
  }


.about__description-content {
  position: absolute;
  top: 97px;
  right: 0;
  width: 785px;
  height: 455px;
  background:url("../../img/mountains.jpeg") no-repeat center / cover;
  padding-right: 81px;
  padding-top: 70px;
  padding-left: 81px;
  padding-bottom: 66px;
  border-radius: 5px;
}

.about__text{
  margin-top: 37px;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  max-width: 502px;
}

.about__button{
  margin-top: 37px;
}

.hello__container{
  position: relative;
  top: 110px;
  width: 511px;
  right: 309px;
  margin-bottom: 330px;
}

.hello__title{
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;  
  margin-bottom: 27.5px;
}

.hello__subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 51.5px;
}

.offers{
  margin-bottom: 127px;
}

.title{
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  position: relative;
  margin-bottom: 51px;
}

.title--fire:after{
  content: "";
  position: absolute;
  background: url(../../img/fire.png) no-repeat;
  margin-left: 12px;
  top: 30%;
  left: 24%;
  width: 21px;
  height: 28px;
}

.offers__item{
  min-height: 450px;
  background: #fff;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  margin-right: 23px;
  width: 362px;
} 

.offers__item:last-child{
  margin-right: 0px;
}

.offers__header{
  height: 144px;
  margin-bottom: 33px;
}

.offers__img{
  width: 362px;
  image-rendering: optimizeQuality;
  border-radius: 5px 5px 0px 0px;
}

.offers__content{
  color: #010001;
}

.offers__title{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 23px;
  margin-left: 22px;
  margin-top: 33px;
  }

.offers__feature{
  display: inline-block;
  vertical-align: top;
  width: 90px;
  position: relative;
}

.offers__feature-icon-1{
  position: absolute;
  width: 26px;
  margin-right: 10px;
  margin-left: 28px;
}

.offers__feature-icon-2{
  position: absolute;
  width: 36px;    
  margin-left: 85px;
}

.offers__feature-text-2{
  margin-left: 127px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
}

.offers__feature-text-1{
  width: 90px;
  margin-left: 60px; 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
  }

.offers__text{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 324px;
  margin-top: 25.5px;
  margin-left: 22px;
  color: #303030
  }

.offers__button{
  width: 135px;
  height: 55px;
  background: #F5170E;
  border-radius: 35px;
  margin-top: 25px;
  margin-right: 204px;
  margin-bottom: 26px;
  margin-left: 23px;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  padding: 18px 30px;
  color: #FFFFFF;
  }

.button--light{
  border: 1px solid #F5170E;
  border-radius: 35px;
  color: #F5170E;
  background: #FFFFFF;
  }

.news__item{
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 394px;
}

.news__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 35px 26px;
  top: 228px;
}

.news__date{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 12.5px;
  width: 94px;

}

.news__title{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  width: 417px;
  padding-bottom: 3px;
  padding-top: 15px;
  }

  .news__text{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  width: 483px;
  }

  
.paginator{
  text-align: center;
}

.paginator__display, .paginator__list{
  display: inline-block;
  vertical-align: middle;
}

.paginator__display{
  margin-right: 36px;
} 

.paginator__item{
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--active .pager__link{
  background: #FFFFFF;
  color: #F5170E;
  
}

.pager__link{
  display: block; 
  width: 32px;
  border-radius: 50%;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.paginator__display{
  width: 125px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 58px;
}

.paginator__list li{
  display: inline-block;
  width: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-top: 58px;
  margin-right: 24px;
} 

.footer{
  height: 170px;
  position: relative;
}

.footer{
  padding-top: 25px ;
}

.footer__container-content{
  border-top: 1px solid #353538;
  margin-top: 50px;
}