.about {
  margin-top: 142px;
  height: 552px;
}

.about__container{
  display: flex;
}

  .about__img { 
    /*float: left;*/
    width: 490px;
    border-radius: 5px;
  }

  .about__img-main{
    border-radius: 5px;
    height: 505px;
    object-fit: cover;
  }

.about__description-content {
  width: 785px;
  background:url("../../img/mountains.jpeg") no-repeat center center/ cover;
  padding-right: 81px;
  padding-top: 70px;
  padding-left: 81px;
  padding-bottom: 66px;
  border-radius: 5px;
  margin-left: -137px;
  margin-top: 100px;
}

.about__description .title--dark{
	color: black;
	font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 0px;
}

.about__text{
  margin-top: 37px;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  max-width: 502px;
}

.about__button{
  margin-top: 42px;
}

/*.hello__container{
  position: relative;
  top: 110px;
  width: 511px;
  right: 309px;
  margin-bottom: 330px;
}*/





