html {
	font-family: "Open Sans";
	font-size: 16px;
}

body,
html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	margin: 0;
	background: #001821;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
    display: block;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.container {
	margin: 0 auto;
	width: 1141px;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.wrapper--main{
	overflow: hidden;
	min-height: 100%;
	/*min-width: 1141px;
	display: block;*/
	/*display: flex;
	flex-direction: column;*/
	background:url('../../img/hero.jpeg') left 50%  top no-repeat, url('../../img/bottom.jpeg') right bottom -40px  no-repeat;
}

/*.wrapper__content{
	/*display: block;
	/*flex: 1;*/


/*.wrapper__content--main{
	background: url("../../img/main-background.jpg");
	background-repeat: no-repeat;
}*/

/*.logo, .menu, .menu__item, .contacts {
	display: inline-block;
}*/


.logo {
	width: 85px;
}

/*.contacts {
	float: right;
}*/

.menu {
	margin-left: 66px;
}

.menu__list{
	display: flex;
}

.menu__item {
	margin-right: 54px;
}

.menu__item:last-child {
	margin-right: 0px;
}

.menu__link{
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
}

.menu__link:hover{
	color: #DA0100;
}

.contacts__phone {
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 35px;
	width: 191px;
}

.contacts__info {
	/*float: right;*/
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	text-decoration-line: underline;
	width: 97px;
	margin-left: 93px;
}

.title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
}

.button {
	width: 168px;
	color: #fff;
	text-align: center	;
	background: #F5170E;
	border-radius: 35px;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	padding: 18px 0;
}

.contacts__call{
	width: 163px;
	font-style: normal;
	font-weight: 400;
	font-size: 11px;
	line-height: 20px;
	color: #9A9A9A;
	margin-left: 25px;
	}

.social__list{
	/*display: inline-block;
	top: 53px;
	right: 300px;
	padding-top: 10px;
	margin-left: 230px;*/
	margin-right: 74px;
	display: flex;
}

.social__item{
	margin-right: 10px;
}

.social__item:last-child{
	margin-right: 0px;
}

.social__link{
	display: block;
	text-decoration: none;
	width: 36px;
	height: 36px;
	background: center center no-repeat;
}

/*.social__item--tg .social__item{
	background-image: url("../../img/t.png");	
}
.social__item--vk .social__item{
	background-image: url("../../img/vk.png");	
}
.social__item--fb .social__item{
	background-image: url("../../img/f.png");	
}
.social__item--insta .social__item{
	background-image: url("../../img/in.png");	
}*/